body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Cambiado para que el contenido y el footer estén en columnas */
    justify-content: space-between; /* Asegura que el contenido y el footer se distribuyan correctamente */
    align-items: center;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0;
}

 /* Contenedor */

.container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    user-select: none;
}


h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffcc00;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.upload-btn {
    background-color: #ff5722;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.upload-btn:hover {
    background-color: #e64a19;
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #b0b0b0;
}

.convert-btn {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.convert-btn:hover {
    background-color: #388e3c;
}

.status-message {
    margin-top: 20px;
    font-size: 14px;
    color: #b0b0b0;
}

/* Pie de página */

.footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 14px;
    border-top: 1px solid #333;
    position: relative; /* Cambiado de sticky a relative */
    bottom: 0;
    width: 100%;
}

.download-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #45a049;
}
